.navbar {
    background: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.container {
    width: 70%;
    margin: auto;
    margin-top: 40px;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* Header  in home*/
.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.btn-primary {
    background: #111;
    color: white;
    padding: 10px 16px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
}

.btn-primary:hover {
    background: #333;
}