{% extends 'blog/base.html' %}

{% block content %}

<div class="home-header">
    <h2>Latest Posts</h2>

    <a href="{% url 'blog:create_post' %}" class="btn-primary">
        + New Post
    </a>
</div>


{% for post in posts %}

<div class="card">

    <div class="card-content">
        <h3>{{ post.title }}</h3>
        <p>{{ post.content }}</p>
        <small>{{ post.published_at }}</small>

        {% if post.image %}
            <img src="{{ post.image.url }}" class="post-img">
        {% endif %}
    </div>

    <div class="card-actions">
        <a href="{% url 'blog:post_detail' post.id %}" class="btn-primary-detail">
            View Details →
        </a>
    </div>

</div>
{% empty %}
<p>No posts yet</p>

{% endfor %}

{% endblock %}